.SignIn {
  
    align-items: center;
    justify-content: center;
     min-height: 100vh;
     flex-direction: column;
     display: flex;
     background-image: url("../images/background.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     width: 100%;
     /* Full height */
     height: 100%; 
 }
 .LabelStyle {
     margin-top:8%;
     font-size: calc(20px + 3vmin);
     font-weight:  bold;
     color : rgb(16, 63, 163);
     margin-bottom:6%;
 }
 .textStyle {
     margin-top:3%;
     padding:0 25px;
     font-size: 15px;
     color : rgb(16, 63, 163);
     margin-bottom:6%;
     font-weight: bold
     
 }
 .eyeIconStyle {
     height:30px;
     width:30px;
     position: absolute;
     right:10px;
     top:5px;
     color : rgb(16, 63, 163);
 }
 .fieldTextStyle {
     font-size: 18px;
     font-weight: bold;
     color : rgb(16, 63, 163);
     margin-bottom:6%;
 }
 .errorTextStyle {
     color: rgba(190,40,40,1); 
     margin-top: 8px ;
     padding-bottom: 15px
 }
 .textFieldStyle {
     font-size:14px;
     width: 100%; 
     outline: none; 
     height: 35px; 
     box-sizing: border-box;
     padding : 0px 5px;
     
 }
 .errorTextFieldStyle {
     font-size:14;
     width: 100%; 
     outline: none; 
     height: 35px; 
     border-width:2px;
     border-color: red;
     padding : 0px 5px;
 }
 
 .Container {
     align-self: center;
     display: flex;
     background-color:white;
     align-items: space-between;
     justify-content:center;
     height: 80%; 
     width :65%;
     flex-direction: row;
 
 }
 .ChildLeftContainer {
     align-items: center;
     justify-content: center;
     flex-direction: column;
     display: flex;
     background-image: url("../images/promo.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
     width: 50%;
     /* Full height */
     height: 100%; 
 }
 .ChildRightContainer {
     align-items: center;
     flex-direction: column;
     display: flex;
     overflow-y: auto;
     background: rgb(135, 182, 183);
     width: 50%;
     padding : 0px 30px;
     /* Full height */
     height: 100%; 
 }
 .textInputView {
     margin-top:5%;
     align-items: center;
     justify-content:center;
     width: 100%;
     align-self:center;
     border-width: 10px;
     background-color : blue;
     position: relative;
 }
 
 .textInputBorder{
     margin-top:2%;
     align-items: center;
     justify-content:center;
     align-self:center;        
 }
 
 .innerContainer{
     margin-top:5%;
     position: relative;
     width: 100%;
 }
 .buttonContainerView {
     align-items: center;
     justify-content:center;
     align-self:center;
     position: relative;
     width : 50%;
     margin-top: 40px;
     margin-bottom: 110px;
 }
 .buttonStyle {
     position: absolute;
     background-color: rgb(16, 63, 163);
     width: 100%;
     padding: 15px 15px;
     font-weight: bold;
     color: white;
     font-size: 22px;
 }
 
 @media (max-width: 767px){
     .ChildLeftContainer {
         width: 100%;
     }
     .ChildRightContainer {
        
         width: 100%;
         /* Full height */
        
     }
     .Container {
        
         height: 80%; 
         width :95%;
         flex-wrap: wrap
     }
     body {
         background-image: url(../images/background.jpeg);
         background-repeat: no-repeat;
         background-size: cover;
         background-color: #03316e;
     }
 }
 